<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ipAddress" value="127.0.0.1" />
		<add key="ipPort" value="5555" />
		<add key="pollFrequency" value="3"/>
	</appSettings>
</configuration>