<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Local IP Address to listen on, for new client connextions -->
    <add key="ipAddress" value="127.0.0.1" />
    <!-- Local IP Address to listen on, for new client connextions -->
    <add key="ipPort" value="5555" />
    <!-- How often to check for MSFS2020 running (seconds) -->
    <add key="pollFrequency" value="3" />
    <!-- Should we always stream values from MSFS 2020, even if the value hasn't changed? -->
    <add key="AlwaysSendVariables" value="false" />
  </appSettings>
</configuration>